<h1>Show</h1>
<h2><%= @user.name %></h2>
<h3><%= @user.email %> </h3>

<!-- show user attributes -->
<h3>User data</h3>
<% @user.attributes.each do|atr| %>
<p style="color:red"><%= atr %></p>
<% end %>

<!-- show event data for the user -->
<h3>User event data</h3>
<% @user.events.each do |event| %>
	<% event.attributes.each do |attribute| %>
		<li style="color:blue"><%= attribute %></li>
	<% end %>
	<br>
<% end %>

<h3>Events user is attending</h3>
<% party_count = 0 %>
<% @user.attendances.all.each do |a| %>
	<%= Event.find(a.event_id).title %>
	<br>
<% end %>


 <!-- <p><%= Event.find(@user.attendances.first.event_id).title %></p> -->
<!-- <p><%= @user.attendances.first.user_id %></p> -->